<div class="col-sm-5">
  <% @question.order("id ASC").each do |u|%>
	  <div class="panel panel-default">
		 <div class="panel-heading question_heading">
		    <div class="input-group-btn voting_box">
		    <% byebug %>
			<%= erb :"votes/votes", layout:false %>
		    </div>
			  <div id = "question_box">
		 		<h4 id = "question_in_heading_panel">Question: <a href = "/questions/<%= u.id %>"><%= u.question %></a></h4>
		 	  </div>
		 </div>
		  <div class="panel-body">
			<div class="clearfix"></div>
			<hr>
			<div id = "answer_box">
			<% @answer.each do |i|%>
				<% if i.question_id == u.id %>
					<%= erb :"votes/votes", layout:false %>
					<div class = "question_contents_main_panel" id = "answer">Answer: <%= i.answer %></div>
					<div class = "question_contents_main_panel" id = "answer-user">
						User: 
						<a href = "/users/<%= i.user_id %>">
						<%= User.find_by(id: i.user_id).fullname %>
						</a>
					</div>
					<hr>
				<% end %>
			<% end %>			
			</div>
			<div class="input-group answer_box">
			<form action="/post_answer" method = "post" id = "answer_front_page">
			  <input class="form-control" name = "answer_input" placeholder="Add a comment.." type="text" id = "answer_in_question">
			  <input type="hidden" name = "question_id" value = "<%=u.id%>">
			</form>
			</div>
		  </div>
	   </div>
  <%end%>
</div>