<div class="col-sm-5"> 
	<% @answer.each do |i| %>
		<% if i.user_id == @user.id %>
		  	<div class="panel panel-default">
			  	<div class="panel-heading question_heading">
				  	<%= erb :"votes/votes", layout:false %>
				  	<div id = "question_box">
			 			<h4>Question: <a href = "/questions/<%= i.question_id %>"><%= @question.find(i.question_id).question %></a></h4>
 	  				</div>
		 		</div>
			 	<div class="panel-heading">
			 	</div>
			  	<div class="panel-body">
					<div class="clearfix"></div>
					<hr>
					<div id = "answer_box">
						<div class="input-group-btn voting_box">
					  		<button formaction="/up_vote" class="vote_buttons btn btn-default first_button"><img src = "/img/upvote.png" class = "vote_buttons"/></button>
							<h6 id = "vote_count">000</h6>
							<button formaction="/down_vote" class="vote_buttons btn btn-default second_button"><img src = "/img/downvote.png" class = "vote_buttons"/></button>
					  	</div>
						<div class = "question_contents_main_panel" id = "answer">Answer: <%= i.answer %></div>
						<div class = "question_contents_main_panel" id = "answer-user">
							User: 
							<a href = "/users/<%= i.user_id %>">
							<%= User.find_by(id: i.user_id).fullname %>
							</a>
						</div>
						<hr>
					</div>
					<div class="input-group answer_box">
					<form action="/post_answer" method = "post" id = "answer_front_page">
					  <input class="form-control" name = "answer_input" placeholder="Add a comment.." type="text" id = "answer_in_question">
					  <input type="hidden" name = "question_id" value = "<%=i.question_id%>">
					</form>
					</div>
			  	</div>
		   	</div>
		<% end %>
	<% end %>
</div>