<div class="col-sm-5"> 
	<% @answer.each do |i| %>
		<% if i.user_id == @user.id %>
		  	<div class="panel panel-default">
			 	<div class="panel-heading">
			 		<h4>Question: <%= @question.find(i.question_id).question %></h4>
			 	</div>
			  	<div class="panel-body">
					<div class="clearfix"></div>
					<hr>
					<div id = "answer_box">
						<div id = "answer">Answer: <%= i.answer %></div>
						<div id = "answer-user">
							User: 
							<a href = "/users/<%= i.user_id %>">
							<%= User.find_by(id: i.user_id).fullname %>
							</a>
						</div>
						<hr>
					</div>
					<div class="input-group">
					  <div class="input-group-btn" id ="voting_box">
					  		<button formaction="/up_vote" class="btn btn-default" id="first_button"><img src = "/img/upvote.png" width = 100%/></button>
							<h6 id = "vote_count">0000</h6>
							<button formaction="/down_vote" class="btn btn-default" id="second_button"><img src = "/img/downvote.png" width = 100%/></button>
					  </div>
					<form action="/post_answer" method = "post" id = "answer_front_page">
					  <input class="form-control" name = "answer_input" placeholder="Add a comment.." type="text" id = "answer_in_question">
					  <input type="hidden" name = "question_id" value = "<%=i.question_id%>">
					</form>
					</div>
			  	</div>
		   	</div>
		<% end %>
	<% end %>
</div>